@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
    --main-bg-color: #9933ff;
    --main-secound-bg-color: gray;
    --main-txt-color: white;
    --main-min-padding-margin: 15px;
    --main-medium-padding-margin: 30px;
    --main-max-padding-margin: 60px;
    --main-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --main-max-width-admin-home: 20em;

    --main-big-font-size: 36px;
    --main-medium-font-size: 20px;
    --main-small-font-size: 12px;

    --home-light-theme-bg-color: #e5eaf2;
    --home-dark-theme-bg-color: #18191a;
    --home-blue-theme-bg-color: #f0f6ff;
    --home-nav-light-theme-bg-color: #c4cad7;
    --home-nav-dark-theme-bg-color: #242526;
    --home-nav-blue-theme-bg-color: linear-gradient(to right, #2cc3ed, #00e6b8);
    --home-nav-border: 1px solid black;
    --home-nav-item-border: 2px solid;
    --home-nav-item-active-border-color: #d3d9e0;
    --home-nav-item-hover-bg-color: #ebf6ff;
    --home-chat-box-border: 1px solid;
    --home-chat-box-light-theme-border-color: gray;
    --home-chat-box-dark-theme-border-color: gray;
    --home-chat-box-blue-theme-border-color: transparent;


    --chat-box-mesaage-light-theme-bg-bot-color: #c4cad7;
    --chat-box-mesaage-dark-theme-bg-bot-color: #6c6e70;
    --chat-box-mesaage-blue-theme-bg-bot-color: #2cc3ed;
    --chat-box-mesaage-light-theme-text-bot-color: #000000;
    --chat-box-mesaage-dark-theme-text-bot-color: #ffffff;
    --chat-box-mesaage-blue-theme-text-bot-color: #ffffff;

    --chat-box-mesaage-light-theme-bg-user-color: #e5eaf2;
    --chat-box-mesaage-dark-theme-bg-user-color: #c4c4c4;
    --chat-box-mesaage-blue-theme-bg-user-color: #00e6b8;
    --chat-box-mesaage-light-theme-text-user-color: #000000;
    --chat-box-mesaage-dark-theme-text-user-color: #000000;
    --chat-box-mesaage-blue-theme-text-user-color: #ffffff;

    --chat-box-message-bot-border-radius: 20px 20px 20px 0;
    --chat-box-message-user-border-radius: 20px 20px 0 20px;
    --chat-box-meassage-border: 1px solid white;
    --chat-box-light-theme-bg-color: #ffffff;
    --chat-box-dark-theme-bg-color: #242526;
    --chat-box-blue-theme-bg-color: #ffffff;

    --button-border-style: 1px solid;

    --category-button-light-theme-bg-color: #c4cad7;
    --category-button-dark-theme-bg-color: #545556;
    --category-button-blue-theme-bg-color: #ffffff;
    --category-button-light-theme-text-color: #000000;
    --category-button-dark-theme-text-color: #ffffff;
    --category-button-blue-theme-text-color: #657786;
    --category-button-light-theme-border-color: #000000;
    --category-button-dark-theme-border-color: #000000;
    --category-button-blue-theme-border-color: #2cc3ed;

    --category-button-hover-light-theme-bg-color: #8f949d;
    --category-button-hover-dark-theme-bg-color: #898a8b;
    --category-button-hover-blue-theme-bg-color: #2cc3ed;
    --category-button-hover-light-theme-text-color: #000000;
    --category-button-hover-dark-theme-text-color: #ffffff;
    --category-button-hover-blue-theme-text-color: #ffffff;
    --category-button-hover-light-theme-border-color: #000000;
    --category-button-hover-dark-theme-border-color: #000000;
    --category-button-hover-blue-theme-border-color: #2cc3ed;

    --category-button-active-light-theme-bg-color: #242628;
    --category-button-active-dark-theme-bg-color: #ffffff;
    --category-button-active-blue-theme-bg-color: #47dfff;
    --category-button-active-light-theme-text-color: #ffffff;
    --category-button-active-dark-theme-text-color: #000000;
    --category-button-active-blue-theme-text-color: #ffffff;
    --category-button-active-light-theme-border-color: #000000;
    --category-button-active-dark-theme-border-color: #000000;
    --category-button-active-blue-theme-border-color: #2cc3ed;


    --chat-button-light-theme-bg-color: #e5eaf2;
    --chat-button-dark-theme-bg-color: #c4c4c4;
    --chat-button-blue-theme-bg-color: #ffffff;
    --chat-button-light-theme-text-color: #000000;
    --chat-button-dark-theme-text-color: #000000;
    --chat-button-blue-theme-text-color: #657786;
    --chat-button-light-theme-border-color: #000000;
    --chat-button-dark-theme-border-color: #000000;
    --chat-button-blue-theme-border-color: #00e6b8;

    --chat-button-hover-light-theme-bg-color: #8f949d;
    --chat-button-hover-dark-theme-bg-color: #898a8b;
    --chat-button-hover-blue-theme-bg-color: #00e6b8;
    --chat-button-hover-light-theme-text-color: #000000;
    --chat-button-hover-dark-theme-text-color: #ffffff;
    --chat-button-hover-blue-theme-text-color: #ffffff;
    --chat-button-hover-light-theme-border-color: #000000;
    --chat-button-hover-dark-theme-border-color: #000000;
    --chat-button-hover-blue-theme-border-color: #00e6b8;

    --chat-button-active-light-theme-bg-color: #242628;
    --chat-button-active-dark-theme-bg-color: #ffffff;
    --chat-button-active-blue-theme-bg-color: #5defcf;
    --chat-button-active-light-theme-text-color: #ffffff;
    --chat-button-active-dark-theme-text-color: #000000;
    --chat-button-active-blue-theme-text-color: #ffffff;
    --chat-button-active-light-theme-border-color: #000000;
    --chat-button-active-dark-theme-border-color: #000000;
    --chat-button-active-blue-theme-border-color: #00e6b8;

    --admin-joke-item-bg-color: #fff;
    --admin-joke-item-color: #373737;
    --admin-joke-item-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    --admin-joke-item-padding: 30px;
    --admin-joke-margin-top: 20px;
    --admin-joke-item-small-color: #657786;
    --admin-joke-item-small-font-size: 14px;

    --admin-forecasts-item-bg-color: #fff;
    --admin-forecasts-item-color: #373737;
    --admin-forecasts-item-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    --admin-forecasts-item-padding: 30px;
    --admin-forecasts-margin-top: 20px;
    --admin-forecasts-item-small-color: #657786;
    --admin-forecasts-item-small-font-size: 14px;

    --jokes-button-right-margin: 3px;
    --jokes-button-left-margin: 3px;

    --bot-hello-message-light-theme-bg-color: #ffffff;
    --bot-hello-message-dark-theme-bg-color: #4a4b4d;
    --bot-hello-message-blue-theme-bg-color: #2cc3ed;
    --bot-hello-message-light-theme-text-color: #000000;
    --bot-hello-message-dark-theme-text-color: #ffffff;
    --bot-hello-message-blue-theme-text-color: #ffffff;
}

html, body {
    height: 100%;
}

#app {
    height: 100%;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

 button.light, .light button {
    background: var(--chat-button-light-theme-bg-color) !important;
    color: var(--chat-button-light-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-light-theme-border-color) !important;
}
 button.light:hover, .light button:hover {
    background: var(--chat-button-hover-light-theme-bg-color) !important;
    color: var(--chat-button-hover-light-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-hover-light-theme-border-color) !important;
}
 button.light:active, .light button:active {
    background: var(--chat-button-active-light-theme-bg-color) !important;
    color: var(--chat-button-active-light-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-active-light-theme-border-color) !important;
    box-shadow: none !important;
}
 button.light:focus, .light button:focus {
    background: var(--chat-button-active-light-theme-bg-color) !important;
    color: var(--chat-button-active-light-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-active-light-theme-border-color) !important;
    box-shadow: none !important;
}
 button.dark, .dark button {
    background: var(--chat-button-dark-theme-bg-color) !important;
    color: var(--chat-button-dark-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-dark-theme-border-color) !important;
}
 button.dark:hover, .dark button:hover {
    background: var(--chat-button-hover-dark-theme-bg-color) !important;
    color: var(--chat-button-hover-dark-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-hover-dark-theme-border-color) !important;
}
 button.dark:active, .dark button:active {
    background: var(--chat-button-active-dark-theme-bg-color) !important;
    color: var(--chat-button-active-dark-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-active-dark-theme-border-color) !important;
    box-shadow: none !important;

}
 button.dark:focus, .dark button:focus {
    background: var(--chat-button-active-dark-theme-bg-color) !important;
    color: var(--chat-button-active-dark-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-active-dark-theme-border-color) !important;
    box-shadow: none !important;
}
 button.blue, .blue button {
    background: var(--chat-button-blue-theme-bg-color) !important;
    color: var(--chat-button-blue-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-blue-theme-border-color) !important;
}
 button.blue:hover, .blue button:hover {
    background: var(--chat-button-hover-blue-theme-bg-color) !important;
    color: var(--chat-button-hover-blue-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-hover-blue-theme-border-color) !important;
}
 button.blue:active, .blue button:active {
    background: var(--chat-button-active-blue-theme-bg-color) !important;
    color: var(--chat-button-active-blue-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-active-blue-theme-border-color) !important;
    box-shadow: none !important;
}
 button.blue:focus, .blue button:focus {
    background: var(--chat-button-active-blue-theme-bg-color) !important;
    color: var(--chat-button-active-blue-theme-text-color) !important;
    border: var(--button-border-style) var(--chat-button-active-blue-theme-border-color) !important;
    box-shadow: none !important;
}
