:root {
    --main-bg-color: #9933ff;
    --main-secound-bg-color: gray;
    --main-txt-color: white;
    --main-min-padding-margin: 15px;
    --main-medium-padding-margin: 30px;
    --main-max-padding-margin: 60px;
    --main-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --main-max-width-admin-home: 20em;

    --main-big-font-size: 36px;
    --main-medium-font-size: 20px;
    --main-small-font-size: 12px;

    --home-light-theme-bg-color: rgb(241, 241, 255);
    --home-dark-theme-bg-color: rgb(26, 26, 53);
    --home-nav-bg-color: #9933ff;
    --home-nav-border: 1px solid black;
    --home-nav-item-border: 2px solid;
    --home-nav-item-active-border-color: #d3d9e0;
    --home-nav-item-hover-bg-color: #ebf6ff;
    --home-chat-box-border: 2px solid gray;

    --chat-box-mesaage-bg-bot-color: #9933ff;
    --chat-box-mesaage-bg-user-color: #9933f0;
    --chat-box-message-bot-border-radius: 20px 20px 20px 0;
    --chat-box-message-user-border-radius: 20px 20px 0 20px;
    --chat-box-meassage-border: 1px solid white;
    --chat-box-bg-color: rgba(255, 255, 255, 0.19);
    --chat-box-category-button-bg-color: #f6f7ff;
    --chat-box-category-button-hover-bg-color: rgb(26, 26, 53);
    --chat-box-category-button-text-color: #00000;
    --chat-box-category-button-hover-text-shadow: 0 0 6px rgba(255, 255, 255, 1);
    --chat-box-category-button-hover-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.60);

    --admin-joke-item-bg-color: #fff;
    --admin-joke-item-color: #373737;
    --admin-joke-item-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    --admin-joke-item-padding: 30px;
    --admin-joke-margin-top: 20px;
    --admin-joke-item-small-color: #657786;
    --admin-joke-item-small-font-size: 14px;

    --admin-forecasts-item-bg-color: #fff;
    --admin-forecasts-item-color: #373737;
    --admin-forecasts-item-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    --admin-forecasts-item-padding: 30px;
    --admin-forecasts-margin-top: 20px;
    --admin-forecasts-item-small-color: #657786;
    --admin-forecasts-item-small-font-size: 14px;

    --jokes-button-right-margin: 3px;
    --jokes-button-left-margin: 3px;
}

html, body {
    height: 100%;
}

#app {
    height: 100%;
    font-family: "Source Sans Pro",serif;
}
