
.button-picker-slide-enter-active{
    transition-delay: 2s !important;
    transition: all .5s ease-in;
}
.button-picker-slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.button-picker-slide-enter, .button-picker-slide-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

